# Python
backend/venv/
backend/__pycache__/
backend/.env
backend/*.pyc
backend/checkpass.py
**/__pycache__/
*.pyc
*.pyo

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/settings.json
.idea/